.displayNode{
    display:none;
}
.loginMain{
    padding:10 100
}
.context{
    width:540px;
	height:500px;
}


.title{
	width:500px;
	height:40px;
	padding: 0 20px;
	margin-top: 10px;
/*	margin-bottom: 10px;
*/	font-size:15px;
	font-family:MicrosoftYaHei-Bold;
	font-weight:bold;
	color:rgba(0,0,0,1);
}

.loginInput{
    margin-top:15px;
}

.warn{
	width:550px;
	height:24px;
	background:rgba(229,240,255,1);
	color:rgba(0,59,128,1);
	font-family:MicrosoftYaHei;
	font-size:12px;
	line-height: 24px;
	font-weight:400;
	text-decoration-color: rgba(0,59,128,1);
	text-align: center;
	visibility:visible;
}

.label-select{
	margin-top: 24px;
	margin-bottom: 15px;
	font-size:12px;
	font-family:MicrosoftYaHei-Bold;
	font-weight:bold;
	color:rgba(136,136,136,1);

}
input{
	/*height: 20px;*/
    line-height: 20px;
    padding: 9px 8px;
    border: 1px solid #d0d0d5;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    outline: none;
    color: #4c5161;
    -webkit-transition: border-color .15s, background-color .15s;
    transition: border-color .15s, background-color .15s;
}

.inputButton{
    background-color: #1e9fff;
    border: 1px solid #FEFEFE;
    color: #FFF;
    padding: 9px 100px;
    text-align: center;
    cursor:pointer;


}
.inputButton:hover{
    background-color: #1ebbff;
}


.disabled{
    background-color: #ccc;
}
.disabled:hover{
    background-color: #ccc;
}


.line-string{
	padding: 0 20px;
	width:500px;
	height:48px;
	background:rgba(255,255,255,1);
	font-size:14px;
	font-family:MicrosoftYaHei-Bold;
	line-height: 48px;
	font-weight:bold;
	color:rgba(0,0,0,1);
}


#dateInput{
	width:190px;
}

#openBack{
    margin: 30 160px;
	width:200px;
}
#loginButton{
    margin: 0 0 20 50;
	width:170px;
}